.image {
  width: 100%;
  height: 700px;
  background-size: cover;
}

.text-bottom {
  display: none;
}

.icon {
  width: 400px;
  position: absolute;
  top: 200px;
}

.carousel-container {
  height: auto;
  position: relative;

  .carousel {
    height: auto;
    width: 100%;
  }

  .arrow-left {
    top: 315px;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 23px;
    cursor: pointer;

    i {
      margin: 0;
      padding: 10px 13px 15px 14px;
      font-size: 30px;
    }
  }

  .arrow-left:hover {
    cursor: pointer;
    transition: 0.3s;
    transition-delay: 0.8s;
    background: rgba(0, 0, 0, 0.7);
  }

  .arrow-right {
    top: 315px;
    position: absolute;
    right: 15px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 23px;
    cursor: pointer;

    i {
      margin: 0;
      padding: 10px 10px 15px 14px;
      font-size: 30px;
    }
  }

  .arrow-right:hover {
    cursor: pointer;
    transition: 0.3s;
    transition-delay: 0.8s;
    background: rgba(0, 0, 0, 0.7);
  }

  div {
    position: relative;

    ul {
      width: 100%;
      height: 20px;
      text-align: center;
      position: absolute;
      top: -30px;

      li {
        display: inline-block;
        color: white;
        margin-right: 10px;

        label {
          cursor: pointer;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          background: rgba(250, 250, 250, 0.5);
        }

        .label-selected {
          background: rgba(250, 250, 250, 1);
        }
      }
    }
  }
}

@media(min-width: 992px) {
  .text-icon {
    top: 300px;
    font-size: 38px;
    color: #fff;
  }
  .text-note {
    top: 400px;
    font-size: 18px;
    color: #fff;
  }
}

@media(max-width: 991px) and (min-width: 702px) {
  .text-icon {
    top: 50px;
    font-size: 38px;
    color: #fff;
  }
  .text-note {
    top: 170px;
    font-size: 18px;
    color: #fff;
  }
  .icon {
    width: 400px;
    position: absolute;
    top: 200px;
    left: 50px;
    padding: 0;
    margin: 0;
  }
}

@media(max-width: 701px) and (min-width: 502px) {
  .text-icon {
    top: 40px;
    font-size: 38px;
    color: #fff;
  }
  .text-note {
    top: 170px;
    font-size: 18px;
    color: #fff;
  }
  .icon {
    width: 400px;
    position: absolute;
    top: 200px;
    left: 50px;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 501px) and (min-width: 400px) {
  .text-icon {
    top: 40px;
    font-size: 38px;
    color: #fff;
  }
  .text-note {
    top: 500px;
    font-size: 18px;
    color: #fff;
  }
  .text-show {
    display: none;
  }
  .text-hidden {
    display: block;
  }
  .icon {
    width: 300px;
    position: absolute;
    top: 200px;
    left: 50px;
    padding: 0;
    margin: 0;
  }
  .carousel-container {
    .arrow-left {
      left: 2%;
    }
  }
}

@media (max-width: 399px) {
  .text-icon {
    top: 40px;
    font-size: 38px;
    color: #fff;
  }
  .text-note {
    top: 500px;
    font-size: 18px;
    color: #fff;
  }
  .text-hidden {
    display: block !important;
  }
  .icon {
    width: 260px;
    position: absolute;
    top: 200px;
    left: 50px;
    padding: 0;
    margin: 0;
  }
  .carousel-container {
    .arrow-left {
      left: 2%;
    }
  }
}
