<div class="card">
  <!--<div class="card-header text-center">
    <label class="card-title text-center">{{getTitle()}}</label>
  </div>
  -->
  <div class="card-img"
       [ngStyle]="{
         'background': 'url(data:image/png;base64,' + getImg() + ') center top',
         'background-repeat':'no-repeat',
         'background-size': 'cover'}"></div>
  <!--
  <div class="card-body" *ngIf="getDescription() && getDescription().length > 0">
    <label>{{getDescription()}}</label>
  </div>
  -->
</div>
