<br/>
<br/>
<div class="carousel-container">
  <div class="carousel">
    <div *ngFor="let item of images;let i = index">
      <!-- data:image/png;base64,-->
      <div class="animated fadeIn image" *ngIf="(i + 1) == keyCarousel"
           [ngStyle]="{
           'background': 'url(' + item['path'] + ')',
           'background-repeat':'no-repeat'}">
        <div class="container">
          <div class="row">
            <div style="position: relative;" class="col-lg-6 col-md-12 col-sm-12">
              <label class="text-icon" [ngStyle]="getStyle(item)" style="text-shadow: 0px 5px 5px #000;font-weight: bold;position: absolute;font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;" [innerHTML]="item.text"></label>
              <label class="text-note text-show" style="position: absolute;font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;" [innerHTML]="this.getNoteText(item)"></label>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12" style="position: relative;align-items: center;vertical-align: middle; align-content: center;">
              <img class="icon" [src]="item['icon']"/>
              <label class="text-note text-hide text-bottom" style="position: absolute; text-align: justify-all;font-family: century;">{{this.getNoteText(item)}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: center">
    <ul>
      <li *ngFor="let item of images; let i = index"><label (click)="setCarousel((i+1))"
                                                            [ngClass]="{'label-selected': (i + 1) == keyCarousel}">&nbsp;</label>
      </li>
    </ul>
  </div>
  <a (click)="previewImg()" class="arrow-left" style="background-repeat: no-repeat">
    <i style="font-family: Arial!important;" class="text-light">&lt;</i>
  </a>
  <a (click)="nextImg()" class="arrow-right">
    <i style="font-family: Arial;" class="text-light">&gt;</i>
  </a>
</div>
