<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-xl-3 col-md-12 col-sm-12 col-12">
        <h3 class="h5">Menú</h3>
        <ul>
          <li>
            <a routerLink="/home">Inicio</a>
          </li>
          <li>
            <a routerLink="/know-us">Conócenos</a>
          </li>
          <li>
            <a routerLink="/products">Productos</a>
          </li>
          <li>
            <a routerLink="/services">
              Servicios
            </a>
          </li>
          <li>
            <a routerLink="/contact">
              Contacto
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-xl-3 col-md-12 col-sm-12 col-12">
        <h5 class="h5">
          Social
        </h5>
        <ul>
          <li>
            <a href="https://www.facebook.com/dicarsaauto" target="_blank">
              <i class="fab fa-facebook"></i>&nbsp;Facebook
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-xl-3 col-md-12 col-sm-12 col-12">
        <h5 class="h5">
          Contacto
        </h5>
        <ul>
          <li>
            <a>Ruta 2, 6-78 zona 4<br/>
              Ciudad de Guatemala</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-xl-3 col-md-12 col-sm-12 col-12">
        <h5 class="h5">Soporte</h5>
        <ul>
          <li>
            <a href="mailto:Contacto@dicarsa.com.gt">Contacto@dicarsa.com.gt</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 text-center">
        <label>&copy; Dicarsa {{getDate()}}</label>
      </div>
    </div>
  </div>
</footer>
