<div class="font-image">
  <div class="">
  <section class="container">
    <br />
    <br />
    <br />
    <br />
    <br />
    <!--aliceblue-->
    <div class="row" style="background: #00000063; color: white;">
      <div class="col-12">
        <h1 class="h3 text-center">Conócenos</h1>
        <article class="blockquote">
          <p class="lead">
            En el año 2000 inicio sus operaciones en un pequeño local ubicado en ruta 2, 6-78 zona 4 de la ciudad capital,
            con el nombre Filtros y Lubricantes V. tras seis años en el mercado por crecimiento de nuestra empresa por primera vez se renovó la imagen y nombre a DIFASA.
          </p>
          <p class="lead">
            En el año 2012 por segunda vez se cambió el nombre a Distribuidora e importadora de lubricantes y repuestos,
            Sociedad Anónima  con el nombre comercial DICARSA, como actualmente se encuentra.
          </p>
          <p class="lead">
            Desde el inicio nos hemos dedicado a la venta y distribución de filtros,
            lubricantes y accesorios para vehículos livianos y pesados;
            sin embargo nuestros clientes solicitaban un servicio más completo por lo que un año más tarde se apertura nuestro
            primer Centro de Servicio Automotriz, ubicado en  vía 7, 2-43 zona 4 de la capital, debido a la alta demanda de clientes y para brindar un servicio personalizado a cada uno, se apertura un segundo  centro servicio Automotriz ubicado en Ruta 3, 7-31 zona 4 de la capital.
          </p>
        </article>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-4">
        <figure style="height: 200px;background: url('../../assets/img/V.png') center;background-size: contain; background-repeat: no-repeat;"></figure>
        <div class="text-center">
          <label style="font-weight: bold;color:white;font-size: 25px;">2000</label>
        </div>
      </div>
      <div class="col-md-4">
        <figure style="height: 200px;background: url('../../assets/img/DIFASA1.png') center;background-size:contain;background-repeat: no-repeat;"></figure>
        <div class="text-center">
          <label style="font-weight: bold;color:white;font-size: 25px;">2006</label>
        </div>
      </div>
      <div class="col-md-4">
        <figure style="height: 200px;background: url('../../assets/img/dicarsa-logo.png') center;background-size:contain;background-repeat: no-repeat;"></figure>
        <div class="text-center">
          <label style="font-weight: bold;color:white;font-size: 25px;">2012</label>
        </div>
      </div>
    </div>
    <br />
    <div class="row" style="background:transparent;">
      <div class="col-12">
        <div class="row">
          <div style="background: #00000063; color: white;" class="col-xl-6 col-lg-6 col-sm-12 col-12">
            <br />
            <h2 class="h3 text-center">Misión</h2>
            <article class="blockquote">
              <p class="lead">
                Lograr una eficiente comercialización de nuestros productos y servicios,
                ofreciendo un servicio personalizado,
                rápido y preciso a cada uno de nuestros clientes.
              </p>
            </article>
          </div>
          <div style="background: #00000063; color: white;" class="col-xl-6 col-lg-6 col-sm-12 col-12">
            <br />
            <h2 class="h3 text-center">Visión</h2>
            <article class="blockquote">
              <p class="lead">
                Consolidarnos como la empresa LIDER en la distribución de filtros,
                lubricantes y repuestos,
                como en la prestación de servicios integrales para vehículos en Guatemala.
              </p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</div>
<div class="title-container">
  <label class="text-light">DICARSA</label>
</div>
<section class="container">
  <div>
    <div class="row">
      <div class="col-md-4">
        <figure style="height: 200px;background: url('../../assets/img/group_boys.jpg');background-size:cover;"></figure>
        <div class="text-center">
          <label style="font-weight: bold;">EQUIPO INFANTIL "DICARSA"</label>
        </div>
      </div>
      <div class="col-md-4">
        <figure style="height: 200px;background: url('../../assets/img/group_girl.jpg');background-size:cover;"></figure>
        <div class="text-center">
          <label style="font-weight: bold;">EQUIPO JUVENIL DE MUJERES "DICARSA"</label>
        </div>
      </div>
      <div class="col-md-4">
        <figure style="height: 200px;background: url('../../assets/img/group.jpg') center;background-size:cover;"></figure>
        <div class="text-center">
          <label style="font-weight: bold;">EQUIPO VETERANOS DE VILLA NUEVA "DICARSA"</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <figure style="height: 200px;background: url('../../assets/img/img1.jpg') center;background-size:cover;"></figure>
        <div class="text-center">
          <label style="font-weight: bold;">CATEGORIA VITAGE AUTODROMO PEDRO COFIÑO</label>
        </div>
      </div>
      <div class="col-md-4">
        <figure style="height: 200px;background: url('../../assets/img/img2.jpg') center;background-size:cover;"></figure>
        <div class="text-center">
          <label style="font-weight: bold;">CATEGORIA VITAGE AUTODROMO PEDRO COFIÑO</label>
        </div>
      </div>
      <div class="col-md-4">
        <figure style="height: 200px;background: url('../../assets/img/img3.jpg') center;background-size:cover;"></figure>
        <div class="text-center">
          <label style="font-weight: bold;">CATEGORIA VITAGE AUTODROMO EL JABALI (EL SALVADOR)</label>
        </div>
      </div>
    </div>
  </div>
</section>
